body{
    background-color: rgb(141, 27, 12);
    text-align: center;
    /*display: inline-block;*/
}

header{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.flex-header{
    display:flex;
    justify-content: center;
}


header p{
    font-weight: bold;
}

main{
    background-color: rgb(228, 220, 220);
    position: relative;
    height: 25rem;
    width: 100%;
}


ul{
    display: flex;
    justify-content:space-around;
}

ul li{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    /*background-color: rgb(141, 27, 12);*/
    margin-top: 20px;
    max-width: 100%;
}

ul li img{
    margin-top: 8px;
}

ul li img:hover{
    border: 3px solid black;
}

footer{
    background-color: black;
    height: 10rem;
}
